/*this part is the general design on page*/
p {
    line-height: 20px;
}
body {
    padding-top: 10px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-size: 1.25em;
    color: black;
    background-color: #f7f7f0;
}
/*this part is the navbar from Bootstrap*/
.d-flex {
    padding-top: -3.5em;
    padding-bottom: -3em;
    padding-right: 10em;
    position: relative
}

.header {
    padding-left: 10px;
    font-weight: bold;
}
.navbar-brand {
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}
#navbarSupportedContent {
    position: relative;
    padding-left: 25em;
    font-size: 1em;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: 500;
} 

/*this part is the searchbox modified from src:Kevin Powell, https://codepen.io/kevinpowell/pen/jONomrd*/
:root {
    --clr-primary: transparent;
    --clr-body:rgb(26, 25, 25);
    --clr-bg: #ddd;
}
.content { /*the content is the canvas is needed to provide the area which we like to expand*/
    background: transparent;
    width: 25em;
    padding: 1em;
    position: relative;
    transition: width 300ms ease-in-out;
  }

.search-bar {
    --size: 40px;
    border: 2px solid #fdda10;
    display: flex;
    border-radius: 100vh;
    height: var(--size);
    width: var(--size);
    padding: 3px;
    position: relative;
    overflow: hiden;
}
    /*introducing SASS (how?)*/
.search-bar__input {
    flex-grow: 1.5;
    font-size: 1.5rem;
    padding: 0 0.5em;
    border: 0;
    background: transparent;
    position: absolute;
    top: 0;
    bottom: 0.5;
    left: 0;
    line-height: calc(var(--size) - 3px);
    opacity: 0.5;
    outline: 0;

}

.search-bar__submit {
    font-size: 1.5rem;
    cursor: pointer;
    border: 0;
    background: transparent;
    border-radius: 50%;
    background: transparent;
    width: calc(var(--size) - 10px);
    height: calc(var(--size) - 10px);
    margin-left: auto;
    transition: background 300 ms ease-in-out;
    color: var(--clr-body);
}

.search-bar:focus-within {
    box-shadow: 0 0 5px var(--clr-primary);
    width: 100%;}
    
    .search__input {
      opacity: 1;
      z-index: initial;
      cursor: initial;
      width: calc(100% - var(--size));
    }
    
    .search-bar__submit {
      background: var(--clr-primary);
      color: black;
      box-shadow: 0 0 10px rgba(0,0,0,.15);
      transition: transform 500ms ease-out;
      }

/*this part is the grid layout for the site's body*/

.wrapper {
    display: grid;
    grid-template-columns: repeat(2fr);
    grid-template-rows: repeat(3fr);
    gap: 3px;
}
.exercise-title {
    color: #ffe600;
    font-weight: bolder;
    font-size: 100px;
}
.icon-exercise {
    padding-left: 70px;
}
.carousel.fade .item:first-child {
    top: auto;
    position: relative;
}
.welcome-tag {
    font-size: 90px;
}
.name-tag {
    color: black
}
.icon-arrow{
    height: 50px;
    width: 50px;
}
.item1 {
    grid-column: 1/3;
    height: 400px;
    padding-top: 20px;
    padding-left: 45em;
    display: flex;
    justify-content:center;
    flex-direction: row;
    flex-direction: column;
    background-color:#f7f7f0 ;
}
.ribbon {
    margin-left: 22px;
    background: #1b1b1b; 
    width: 150px;
    height: 500px;
    background-color: transparent;
    position: absolute;
    border: solid 75px #9e9e9e;
    border-bottom: solid 15px transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    transition: all 0.2s;
    cursor: pointer;
    box-shadow:#1b1b1b ;
}

.image-cropper {
    width: 129px;
    height: 220px;
    position: relative;
    border: transparent;
    overflow:hidden;
    margin-left: -10px;
}
#image-self {
    height: 100%;
    min-width: 100%;
}
.sawasdee {
    font-family: 'Chonburi', cursive;
    font-size: 30px;
}
.item2 {
    grid-column: 3/4;
}

.item3 {
    background-color:#f7f7f0  ;
    grid-column: 1/4;
}
.item4 {
    size: 0;
}
.item5 {
    background-color:#9e9e9e ;
    grid-column: 1/4;
}
.item6 {
    background-color:#f7f7f0  ;
    grid-column: 3/4;
}
.item7 {
    background-color:#9e9e9e  ;
    grid-column: 1/3;
}
.item8 {
    background-color:#9e9e9e  ;
    grid-column: 3/4;
}
.icon-exercise {
    padding-left: 150px;
}
.footer {
    background-color:#f7f7f0   ;
}
#button {
    background-color: transparent;    
    border: 5px solid #9e9e9e;
    border-radius: 100vh;
}